form {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 400px;
  padding: 0 2.5%;
}

label {
  color: white(0.75);
  font-size: 14px;
  display: flex;
  align-items: center;
  text-align: left;
  margin: 0 0 7px 0;
  padding: 0 0 0 21px;
  height: 21px;
  line-height: 16px;
  background-size: auto 16px;
  background-position: left center;
  background-repeat: no-repeat;
  width: 100%;
  &[for="serebii"] {background-image: url("/assets/serebii-v2.png")}
  &[for="bulbapedia"] {background-image: url("/assets/bulbapedia-v2.png")}
  &[for="smogon"] {background-image: url("/assets/smogon-v2.svg")}
  &[for="internet"] {background-image: url("/assets/google-v2.png")}
}

input {
  display: block;
  text-align: left;
  border: 1px solid #fff;
  border-radius: 2px;
  background-color: $cLightGrey;
  padding: 8px 32px 8px 9px;
  box-shadow: 0px 1px 1px black(0.5);
  font-size: 19px;
  margin: 0 0 17px 0;
  width: 100%;
  background-image: url("/assets/search-v2.svg");
  background-position: center right 9px;
  background-size: 18px 18px;
  &:focus, &:active {
    background-color: #fff;
  }
}

button {
  @include visuallyhidden;
}
