<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <title>Pokémon Sun and Moon Search</title>

    <link rel="stylesheet" href="/assets/main.css" type="text/css" media="screen">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">

    <link rel="canonical" href="https://pokemon.csuhta.com">
    <meta name="description" content="Quickly search several Pokémon databases, by @cjcsuhta">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="apple-mobile-web-app-title" content="Pokémon">
    <link rel="apple-touch-icon" href="/app-icon.jpg">
    <link rel="icon" sizes="196x196" href="/app-icon.jpg">

  </head>
  <body>

    <form action="/" method="get" accept-charset="utf-8"

      data-query="https://google.com/search?btnI=I&q=site:www.serebii.net/pokedex-sm+">
      <label for="pokedex">Serebii Sun/Moon Pokédex</label>
      <input type="text" name="query"
        autocorrect="off" autocomplete="off" autocapitalize="sentences" spellcheck="false"
        tabindex="1"
        id="pokedex"
        placeholder="Drifblim"
      >
      <button type="submit">Search</button>
    </form>

    <form action="/" method="get" accept-charset="utf-8"
      data-query="https://google.com/search?btnI=I&q=site:www.serebii.net/attackdex-sm+">
      <label for="attackdex">Serebii Sun/Moon Attackdex</label>
      <input type="text" name="query"
        autocorrect="off" autocomplete="off" autocapitalize="sentences" spellcheck="false"
        tabindex="2"
        id="attackdex"
        placeholder="Play Rough"
      >
      <button type="submit">Search</button>
    </form>

    <form action="/" method="get" accept-charset="utf-8"
      data-query="https://google.com/search?btnI=I&q=site:www.serebii.net/itemdex+">
      <label for="itemdex">Serebii Itemdex</label>
      <input type="text" name="query"
        autocorrect="off" autocomplete="off" autocapitalize="sentences" spellcheck="false"
        tabindex="3"
        id="itemdex"
        placeholder="Leftovers"
      >
      <button type="submit">Search</button>
    </form>

    <form action="/" method="get" accept-charset="utf-8"
      data-query="https://google.com/search?btnI=I&q=site:bulbapedia.bulbagarden.net+">
      <label for="bulbapedia">Bulbapedia</label>
      <input type="text" name="query"
        autocorrect="off" autocomplete="off" autocapitalize="sentences" spellcheck="false"
        tabindex="4"
        id="bulbapedia"
        placeholder="MissingNo."
      >
      <button type="submit">Search</button>
    </form>

    <form action="/" method="get" accept-charset="utf-8"
      data-query="https://google.com/search?btnI=I&q=site:www.smogon.com/dex/sm+">
      <label for="smogon">Smogon Sun/Moon</label>
      <input type="text" name="query"
        autocorrect="off" autocomplete="off" autocapitalize="sentences" spellcheck="false"
        tabindex="5"
        id="smogon"
        placeholder="Mimikyu"
      >
      <button type="submit">Search</button>
    </form>

    <a class="footer" href="https://twitter.com/cjcsuhta">By @cjcsuhta</a>

    <script type="text/javascript" src="/assets/main.js"></script>

  </body>
</html>
