<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <title>Pokémon Sword/Shield Search</title>

    <link rel="stylesheet" href="/assets/main.css" type="text/css" media="screen">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">

    <link rel="canonical" href="https://pokemon.csuhta.com">
    <meta name="description" content="Quickly search several Sword/Shield Pokémon databases, by @kar3w">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="apple-mobile-web-app-title" content="Pokémon">
    <link rel="apple-touch-icon" href="/app-icon.png?v2">
    <link rel="icon" sizes="196x196" href="/app-icon.png?v2">

  </head>
  <body>

    <form action="/" method="get" accept-charset="utf-8"

      data-query="https://www.google.com/search?q=serebii+sword+shield+">
      <label for="serebii">Serebii Sword/Shield</label>
      <input type="text" name="query"
        autocorrect="off" autocomplete="off" autocapitalize="sentences" spellcheck="false"
        tabindex="1"
        id="pokedex"
        placeholder="Obstagoon"
      >
      <button type="submit">Search</button>
    </form>

    <form action="/" method="get" accept-charset="utf-8"
      data-query="https://www.google.com/search?q=smogon+">
      <label for="smogon">Smogon Sword/Shield</label>
      <input type="text" name="query"
        autocorrect="off" autocomplete="off" autocapitalize="sentences" spellcheck="false"
        tabindex="5"
        id="smogon"
        placeholder="Toxapex"
      >
      <button type="submit">Search</button>
    </form>

    <form action="/" method="get" accept-charset="utf-8"
      data-query="https://www.google.com/search?q=bulbapedia+">
      <label for="bulbapedia">Bulbapedia</label>
      <input type="text" name="query"
        autocorrect="off" autocomplete="off" autocapitalize="sentences" spellcheck="false"
        tabindex="4"
        id="bulbapedia"
        placeholder="Destiny Knot"
      >
      <button type="submit">Search</button>
    </form>

    <form action="/" method="get" accept-charset="utf-8"
      data-query="https://www.google.com/search?q=pokemon+sword+shield+">
      <label for="internet">Entire Internet (Adds Games to Search)</label>
      <input type="text" name="query"
        autocorrect="off" autocomplete="off" autocapitalize="sentences" spellcheck="false"
        tabindex="6"
        id="internet"
        placeholder="Max Raid Battle"
      >
      <button type="submit">Search</button>
    </form>

    <script type="text/javascript" src="/assets/main.js"></script>

  </body>
</html>
