<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <title>Pokémon Sword/Shield Search</title>

    <link rel="stylesheet" href="/assets/main.css" type="text/css" media="screen">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">

    <link rel="canonical" href="https://pokemon.csuhta.com">
    <meta name="description" content="Quickly search several Sword/Shield Pokémon databases, by @kar3w">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="apple-mobile-web-app-title" content="Pokémon">
    <link rel="apple-touch-icon" href="/app-icon.jpg">
    <link rel="icon" sizes="196x196" href="/app-icon.jpg">

  </head>
  <body>

    <form action="/" method="get" accept-charset="utf-8"

      data-query="https://www.google.com/search?q=site:www.serebii.net+pokedex-swsh+">
      <label for="pokedex">Serebii Sword/Shield Pokédex</label>
      <input type="text" name="query"
        autocorrect="off" autocomplete="off" autocapitalize="sentences" spellcheck="false"
        tabindex="1"
        id="pokedex"
        placeholder="Drifblim"
      >
      <button type="submit">Search</button>
    </form>

    <form action="/" method="get" accept-charset="utf-8"
      data-query="https://www.google.com/search?q=site:www.serebii.net+attackdex-swsh+">
      <label for="attackdex">Serebii Sword/Shield Attackdex</label>
      <input type="text" name="query"
        autocorrect="off" autocomplete="off" autocapitalize="sentences" spellcheck="false"
        tabindex="2"
        id="attackdex"
        placeholder="Play Rough"
      >
      <button type="submit">Search</button>
    </form>

    <form action="/" method="get" accept-charset="utf-8"
      data-query="https://www.google.com/search?q=site:www.serebii.net+itemdex+">
      <label for="itemdex">Serebii Itemdex</label>
      <input type="text" name="query"
        autocorrect="off" autocomplete="off" autocapitalize="sentences" spellcheck="false"
        tabindex="3"
        id="itemdex"
        placeholder="Leftovers"
      >
      <button type="submit">Search</button>
    </form>

    <form action="/" method="get" accept-charset="utf-8"
      data-query="https://www.google.com/search?q=site:bulbapedia.bulbagarden.net+">
      <label for="bulbapedia">Bulbapedia</label>
      <input type="text" name="query"
        autocorrect="off" autocomplete="off" autocapitalize="sentences" spellcheck="false"
        tabindex="4"
        id="bulbapedia"
        placeholder="MissingNo."
      >
      <button type="submit">Search</button>
    </form>

    <form action="/" method="get" accept-charset="utf-8"
      data-query="https://www.google.com/search?q=site:www.smogon.com/dex/ss+">
      <label for="smogon">Smogon Sword/Shield</label>
      <input type="text" name="query"
        autocorrect="off" autocomplete="off" autocapitalize="sentences" spellcheck="false"
        tabindex="5"
        id="smogon"
        placeholder="Ferrothorn"
      >
      <button type="submit">Search</button>
    </form>

    <form action="/" method="get" accept-charset="utf-8"
      data-query="https://www.google.com/search?q=pokemon+sword+shield+">
      <label for="internet">Entire Internet (Adds Game Names to Search)</label>
      <input type="text" name="query"
        autocorrect="off" autocomplete="off" autocapitalize="sentences" spellcheck="false"
        tabindex="6"
        id="internet"
        placeholder="Max Raid Battle"
      >
      <button type="submit">Search</button>
    </form>

    <a class="footer" href="https://twitter.com/kar3w">By @kar3w</a>

    <script type="text/javascript" src="/assets/main.js"></script>

  </body>
</html>
