html {
  background: black(0.9);
  background: #2B253A;
}

body {
  color: $cWhite;
  font-size: 16px;
  font-family: $fSystem;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80vh;
}

select, button, option,
input[type=checkbox], input[type=radio] {
  &:focus {
    outline: none !important;
  }
}
