// -------------------------------------------------------------------------
// Color Variables
// -------------------------------------------------------------------------

$cBlack: #16161D; // A less harsh black than pure #000 https://en.wikipedia.org/wiki/Eigengrau
$cLightGrey: #F1F1F1;
$cMedGrey: #AEAEAE;
$cGrey: #9B9B9B;
$cDarkGrey: #535353;
$cCodeWash: #F2F4F5;
$cWhite: #FEFEFE; // A less-harsh white than pure #FFF

$cPlum: #343242;
$cGrape: #5822AC;

$cRuby: #da3946;
$cSapphire: #3497be;
$cEmerald: green;
$cDiamond: #FAE6C6;
$cOnyx: #16161D;

$cCommonBlack: #16161D;
$cRareGold: #C19C00;
$cUncommonSilver: #6C848C;
$cMythicFire: #FE6000;
